.font-el {
    font-family: 'El Messiri', sans-serif;
}

.font-ro {
    font-family: 'Roboto', sans-serif;
}

.person-id {
    /* something here soon! */
}

.person-mug {
    border-radius: 200px;
}

#about-us {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 6px 6px 18px black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#holder {
    background-color: #6C9661;
    padding-top: 150px;
    padding-bottom: 50px;
}