html, body {
    height: 100%;
}

h1 {
    font-size: 64pt;
}

h2 {
    font-size: 32pt;
}

h3 {
    font-size: 24pt;
}

body {
    color: white;
    background-color: #6C9661;
}

.font-el {
    font-family: 'El Messiri', sans-serif;
}

.font-ro {
    font-family: 'Roboto', sans-serif;
}

.text-on-background-lg {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.text-on-background-sm {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#main-display {
    background-image: url(images/forestbackground.jpg);
    background-color: #999999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#nav-options {
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    background-color: #6C9661;
    border-radius: 20px;
    box-shadow: 6px 6px 18px black;
}