@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');



html, body {
    height: 100%;
}

h1 {
    font-size: 64pt;
}

h2 {
    font-size: 32pt;
}

h3 {
    font-size: 24pt;
}

body {
    color: black;
    background-color: #6C9661;
}

.font_el {
    font-family: 'El Messiri', sans-serif;
      color: white;
}

.font_ro {
    font-family: 'Roboto', sans-serif;
      color: white;
}

.text_on_background_lg {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.text_on_background_sm {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#main_display {
    background-image: url(forestbackground.jpg);
    background-color: #999999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#nav_options {
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    background-color: #6C9661;
    border-radius: 20px;
    box-shadow: 6px 6px 18px black;
}



/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}

.navbar {
  background-color: #30572D;
}
.person-mug {
    border-radius: 200px;
}



.nav-option {
    margin-bottom: 2px;
    width: 125px;
}

#holder {
    background-color: #6C9661;
    padding-top: 150px;
    padding-bottom: 50px;
}

#main-content {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 6px 6px 18px black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mobile-nav-button {
    background-color: #6C9661;
    background-image: url(/hamburger_button.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    height: 50px;
    margin-top: 10px;
}

.Logo_Image{
  width:90px;
  height:55px;
}

.Mug_Image{
  border-radius: 200px;
  height:200px;
  width:200px;
}
